.hero {
  width: 90%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-picture-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../assets/icons/me.jpg) no-repeat center;
  background-size: cover;
}

.hero-text {
  font-weight: 500;
  font-size: 0.875rem;
  padding-top: 1rem;
  text-align: center;
}

.hero-location-wrapper {
  width: 15px;
  height: 15px;
}

.hero-social-wrapper {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.hero-social-icon {
  width: 30px;
}

.hero-buttons-wrapper {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
