#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  height: 60vh;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#home-profile-icon {
  position: absolute;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url(../assets/icons/me.jpg) no-repeat center;
  background-size: cover;
}

#home-name-title {
  position: relative;
}

#home-titles {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
