.wrapper {
  padding-inline: 20px;
}

@media (width >= 50.625em) {
  .wrapper {
    padding-inline: 44px;
  }
}

@media (width >= 75em) {
  .wrapper {
    max-width: 75em;
    padding-inline: 0;
    margin: auto;
  }
}
