.skills {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.block {
  padding: 20px;
  border-radius: 20px;
  border: none;
}
